.create-channel__container{
  overflow: hidden;
  .create-channel__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
  
    p{
      font-size:20px;
      font-weight:bold;
    }
  
    .create-channel__close{
      margin-right: 15px;
      cursor: pointer;
    }
  }

  hr{
    margin: -1px;
    opacity: 0.4;
  }
}

