.channel-name-input{
&__wrapper {
  display: flex;
  flex-direction: column;
  height: 169px;
  padding-left: 20px;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  & p {
    font-size: 16px;
    line-height: 120%;
    color: #2c2c30;
    margin-top: 30px;
  }
  & input {
    font-size: 18px;
    color: rgba(0, 0, 0);
    height: 50px;
    width: 90%;
    background: #f7f6f8;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 8px;
    padding-left: 16px;
    &:focus {
      border: 1px solid #1C797C ;
      outline: none;
    }
    &::placeholder {
      font-weight: 300;
      color: rgba(0, 0, 0, 0.5);
    }
  }
}
}
.create-channel{
  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 118px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    padding-right: 20px;
    
  }
  &__button-wrapper {
    height: 82px;
    background: #1C797C;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom-right-radius: 16px;
    padding: 0px 10px;
    & p {
      background: #1C797C;
      font-weight: bold;
      font-size: 18px;
      padding: 10px 20px;
      color: #ffffff;
      border-radius: 8px;
      cursor: pointer;
    }
  }


}