@import 'global';

.channel-list{

  &__container {
  display: flex;
  /* height: 800px; */
  height: 100%;
  box-shadow: inset 1px 0px 0px rgba(0, 0, 0, 0.1);
  @media screen and (max-width: 960px) {
    position: absolute;
    z-index: 999;
    left: -315px;
   }
  }
  &__container-active{
    display: flex;
    /* height: 800px; */
    height: 100%;
    box-shadow: inset 1px 0px 0px rgba(0, 0, 0, 0.1);
    @media screen and (max-width: 960px) {
      position: absolute;
      z-index: 999;
      left: 0;
     }
  }

  &__buttonClose{
    display: none;

    @media (max-width: 960px) {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background-color: #1C797C;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      top: 75px;
      left: 17px;
    }
    

  }

  &__arrowRight{
    font-size:25px;
    color: #fff;
  }

  &__sidebar {
    width: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
   #1C797C;
    box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.25);
    border-radius:0 25px 25px 0 ;

    &__icon1{
      display: flex;
      width: 44px;
      height: 44px;
      margin: auto;
      display: flex;
      justify-content: center;
  
      align-self: center;
    }
    &__icon__setting{
      font-size: 20px;
      display: block;
      justify-self: center;
      align-self: center;
      margin: auto;
      align-self: center;
      color: white;
      cursor: pointer;
    
    }
  }

&__header {
  padding: 0 16px;
  height: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__wrapper{
    display: flex;
    align-items: center;
  }
  &__text{
    display: block;
    margin: 0;
    font-family:  Helvetica Neue, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    
  }
  
  &__closeIcon{
    cursor: pointer;
    display:none;

    @media (max-width: 960px) {
      display: block;
    }
  }
}
&__list__wrapper {
  display: flex;
  flex-direction: column;
  background: white;
  width: 240px;
}

// .active{
//   @media screen and (max-width: 960px) {
//     // position: absolute;
//     // z-index: 999;
//     left: 0;
//    }
// }

}
.icon1__inner{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.channel-list-wrapper{
  @media (max-width: 960px) {
    display: flex;
    flex-direction: column;
    //justify-content:space-between;
    height: 70vh;
  }
  height: 75vh;
  display: flex;
  justify-content:space-between;
  flex-direction: column;
  // .channel-list-channelList{
  //   position: static;
  //   left:0;
  //   top: 0;
  //   min-height: auto;
  //   height: auto;
  //   @media (max-width: 960px) {
  //     position: static;
  //     left:0;
  //     top: 0;
  //     min-height: auto;
  //     height: auto;
  //   }
    
  // }
}

.str-chat-channel-list, .team{
  @media screen and (max-width: 960px) {
    position: static !important;
    left:0 !important;
    top: 0 !important;
    min-height: auto !important;
    height: auto !important;
  }
}
.str-chat-channel .str-chat__container{
  @media (max-width: 960px) {
    height: 100vh
  }
}

