.channel-search{
&__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  border-top: 1px solid #00000033;

}
&__input__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background: rgba(210, 164, 255, 0.118);
  border-radius: 8px;
  margin-bottom: 8px;
  border: 1px solid transparent;
  width: 95%;
}
&__input__wrapper:focus-within {
  border: 1px solid rgb(194, 192, 192);
}
&__input__icon {
  width: 32px;
  display: flex;
  justify-content: center;
  &__setting{
    display: blocks;
    font-size: 18px;
    margin-left: 10px;
  }
}
&__input__text {
  background: none;
  border: none;
  color: black;
  font-size: 16px;
  outline: none;
  &::placeholder {
    color: rgba(255, 255, 255, 0.378);
    white-space: nowrap;
    width: 150px;
  }
}



}

