.user-list__container{
  padding: 0 30px;
  overflow:hidden;
  .user-list__header{
    display: flex;
    justify-content:space-between;
    
  }
}

.user-item__wrapper{
  display: flex;
  justify-content:space-between;
  .user-item__name-wrapper{
    display: flex;
  }

  .user-item__invite-empty{
    border: 2px solid rgb(189, 186, 186);
    width: 32px;
    height: 32px;
    border-radius:50%;
    cursor: pointer;
  }
}